body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
     }
     

h1 {
    font-size: 50px;
    color: ;

}
span{
    color: tomato;
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(cyan,blue);
    color: white;
    padding: 7px 17px;
    border-radius: 15px;
    font-weight: bolder;
}
.flex{
    display: flex;
    margin-bottom: 60px;
}
.half-width{
    width: 50%;
    padding: 8%;
}
.half-width img{
    width: 100%;
    
}
.link-btn-down{
    padding-top: 40px;
}
#about-me{
    padding-top: 20%;
    padding-left: 10%;
}
#cover{
    background-image: url(/img-assi/Frame\ 57.jpg);
}
#quotes{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    
}
.card{
    width: 220px;
    height: 400px;
    margin: 10px;
    background-color:white(10, 1, 1);
    color: black;
    box-shadow: 10px 10px 40px;
    border-radius: 15px;
   
}
.card-image {
    background-color:white(61, 133, 133);
    margin-bottom: 10px;
    height: 150px;
    background-size: cover;
    border-radius: 15px;
    

}
.jpg-3{
    background-image: url(/img-assi/Project\ Cover.png);
}
.jpg-2{
    background-image: url(/img-assi/Project\ Cover1.jpg);
}

.jpg-1{
    background-image: url(/img-assi/Project\ Cover5.png);
}
